@use "../global/boilerplate" as *;

.projects {
  background-color: #f9f9f9;
  padding: 15rem 0;
  transition: background-color 0.5s, color 0.5s;

  @media (max-width: 1020px) {
    padding: 5rem 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s, color 0.5s;

    @media (max-width: 600px) {
      text-align: center;
    }

    h3 {
      color: #2d2e32;
      font-size: 2.5rem;
      margin-bottom: 5rem;
      font-weight: 200;
    }

    .project-grid {
      grid-gap: 5rem;
      display: grid;
      gap: 5rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      height: auto;
      width: 100%;

      @media (max-width: 700px) {
        width: 100%;
        align-items: center;
      }

      .project {
        border-radius: 1.7rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        gap: 8rem;
        height: 40rem;
        padding: 2rem;

        &.reversed {
          flex-direction: row-reverse !important;

          .project-img {
            background-color: hsla(0, 0%, 46%, 0.2);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: auto;
            width: 50rem;
            border-radius: 5%;
            overflow: hidden;

            a {
              img {
                width: 100%;
                height: auto;
                transform: translateY(0%);
                transition: transform 10s ease-in-out 0s;

                &:hover {
                  transform: translateY(-80%);
                }
              }
            }
          }
        }

        .project-img {
          background-color: hsla(0, 0%, 46%, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          height: auto;
          width: 50rem;
          border-radius: 5%;
          overflow: hidden;

          a {
            .twopizza,
            .furniture-shop {
              width: 100%;
              height: auto;
              transform: translateY(0%);
              transition: transform 3s ease-in-out 0s;

              &:hover {
                transform: translateY(-25%);
              }
            }

            .furniture-shop {
              transition: transform 8s ease-in-out 0s !important;

              &:hover {
                transform: translateY(-61%) !important;
              }
            }
          }
        }

        .project-txt {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          width: 30rem;
          height: auto;

          h3 {
            color: #2d2e32;
            font-size: 2rem;
            margin-bottom: 2rem;
            position: relative;
            text-transform: uppercase;
          }

          p {
            color: #8b8989;
            font-size: 1.7rem;
            font-weight: 100;
          }

          .tech {
            display: flex;
            gap: 1rem;
            margin-top: 3rem;
            justify-content: center;

            p {
              font-size: 1.66rem;
              background-color: #fff;
              color: #000;
              font-weight: 600;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              padding: 1rem 1.3rem;
              transition: background-color 0.5s, color 0.5s !important;
            }
          }

          .links {
            display: flex;
            align-items: center;
            margin-top: 3rem;
            justify-content: space-evenly;

            a {
              text-decoration: none;
              color: #5e5e5f;
              font-size: 2.4rem;
              font-weight: 500;
              display: flex;
              align-items: center;
              gap: 5px;
              transition: all 0.6s ease-in-out;

              &:hover {
                color: black;
              }

              i {
                font-size: 3rem;
              }
            }
          }
        }
      }
    }
  }

  &.dark-mode {
    background-color: #222222;
    color: #dde0e7;
    transition: background-color 0.5s, color 0.5s;

    h3 {
      color: #dde0e7 !important;
    }

    .project {
      background-color: #333333;
      box-shadow: 0 0 10px rgba(256, 256, 256, 0.33) !important;
      transition: background-color 0.5s, color 0.5s !important;

      h3 {
        color: #dde0e7 !important;
      }

      .tech {
        p {
          box-shadow: 0 0 10px rgba(256, 256, 256, 0.2) !important;
          background-color: #222222 !important;
          color: #dde0e7 !important;
          transition: background-color 0.5s, color 0.5s !important;
        }
      }

      .links {
        a {
          color: #8b8989 !important;

          &:hover {
            color: #dde0e7 !important;
          }
        }
      }
    }
  }
}
