@use "../global/boilerplate" as *;

.footer {
  background-color: #2d2e32;
  padding: 5rem 0;
  width: 100%;
  transition: background-color 0.5s, color 0.5s;

  .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      color: #fff;
      font-size: 1.6rem;
      font-weight: 200;
    }

    @media (max-width: 550px) {
      flex-wrap: wrap;
      gap: 2rem;
      text-align: center;
      justify-content: center;
    }

    .footer__socials {
      display: flex;
      gap: 2rem;

      i {
        color: #fff;
        font-size: 2.5rem;
      }
    }
  }

  &.dark-mode {
    background-color: rgb(14, 13, 13);
    transition: background-color 0.5s, color 0.5s;
  }
}
